
div{
    border:0.5px solid #000000;
    width: 200px;
    height: 200px;
    display:inline-block;
    background-size: cover;
    position: absolute;
}

div:nth-child(1){
    background-image: url('../imgs/roses.jpg');
    top:100px;
    left: 100px;
    z-index: 2;
}


div:nth-child(2){
    background-image: url('../imgs/roses2.jpg');
    top:150px;
    left: 150px;
    z-index: 1;
}


div:nth-child(3){
    background-image: url('../imgs/roses3.jpg');
    top:200px;
    left: 200px;
    z-index: 3;
}