table{
    width:50%;
    margin:auto;
    //border:1px solid #000000;
    border-radius: 12px;
    caption-side: bottom;
}

thead tr th{
    background-color: #aa0aaa;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

tr th,tr td{
    margin:0px;
    padding:10px;
    border-bottom: 0.5px solid #000000;
}

tr:last-child td{
    border:0px;
}

td:nth-child(2),td:nth-child(3){
    text-align: center;
}

td:nth-child(4){
    text-align: right;
}